@font-face {
    font-family: 'Fraunces', serif;
    font-style: normal;
    src: url('./../../fonts/Fraunces/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf');
    src: url('./../../fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf');
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: 'SpaceMono-Bold', monospace;
    font-style: normal;
    src: url('./../../fonts/Space_Mono/SpaceMono-Bold.ttf');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Bold';
    font-style: normal;
    src: url('./../../fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 900;
    font-display: swap;
}

.container {
    max-width: 1640px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

.container::-webkit-scrollbar {
    display: none;
  }