.Navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    background-color: #1b6b50;
    z-index: 50;
    top:0;
    position: sticky;
    &__title{
      display: none;
    }
    &__toggle{
      display: none;
    }
    &__nav{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__item{
            list-style: none;
            position: relative;
            height: auto;
            transition:all 0.5s ease-in-out;
            &:hover .Navbar__nav__item__menu{
              top: 30px;
              transition:all 0.5s ease-out;
              // display: flex;
              opacity: 1;
              scale: 1;
              
            }
            &__link{
              height: 15px;
                color: rgb(255, 255, 255);
                font-size: 20px;
                font-weight: 400;
                font-family:'Roboto-Bold' sans-serif ;
                border-bottom: 2px solid white;
                transition: 0.5s all ease-in-out;
                padding: 0 10px;
               
            }
            &__unlink{
              border-bottom: 2px solid #1b6b50;
              font-size: 20px;
              font-weight: 400;
              font-family:'Roboto-Bold' sans-serif ;
              color:white;
              padding: 0 10px;
              &:hover{
                transition: 1s all ease-in-out;
                border-bottom: 2px solid white;
                border-width: 100%;
              }
            }
            &__menu{
                  position: absolute;
                  background-color: white;
                  padding: 5px;
                  top: 80px;
                  display:flex;
                  opacity: 0;
                  scale: 0;
                  flex-direction: column;
                  width: 200px;
                  transition:0.5s ease-in-out;
                
                  &:hover{
                    display: flex;
                    opacity: 1;
                     transition:all 0.5s ease-in-out;
                    
                  }
                  p{
                    color:#1b6b50;
                    font-size: 16px;
                  
                  }
                  &__links{
                    position: relative;
                    margin-top: 10px;
                    border-bottom: 2px solid white;
                    &:hover{
                        color: #1b6b50;
                       border-color: #1b6b50;
                       transition:all 0.5s ease-in-out;
                    }
                    &__category{
                      display: none;
                      align-items: center;
                      flex-direction: column;
                      position: absolute;
                      right:-110px;
                      width: 100px;
                      padding: 5px;
                      background-color: white;
                    }
                  }
            }
        }
    }
}

// screen tablet
@media only screen and (max-width:1300px) {
  .Navbar{
    &__nav{
      width: 100%;
      justify-content: space-evenly;
    }
  }
}

// screen mobile
@media only screen and (max-width:1300px){
  .Navbar{
    justify-content: space-between;
    position: relative;
    padding: 10px 20px;
    &__title{
      display: flex;
      font-size: 30px;
      font-weight: 800;
      color: white;
    }
    &__toggle{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
       width: 40px;
       height: 30px;
       cursor: pointer;
       span{
        width: 100%;
        height: 5px;
        background-color: white;
        border-radius: 3px;
       }
    }
    &__nav{
     position: absolute;
     display: block;
     text-align: center;
     background: rgb(27,107,80);
     background: linear-gradient(0deg, rgba(27,107,80,0.6486486486486487) 9%, rgba(27,107,80,0.6644144144144144) 22%, rgba(27,107,80,0.7297297297297297) 35%, rgba(27,107,80,0.795045045045045) 47%, rgba(27,107,80,0.8851351351351351) 60%, rgba(27,107,80,1) 75%, rgba(27,107,80,1) 94%);
     top: 65px;
     right: 0;
     left: 0;
     width: 100%;
     transition: all .5s ease-in;
     border-color: transparent;
     padding: 20px 0;
     &__item{
      margin-top: 10px;
      &__link{

      }
      &__menu{
        display:none;
      }
     }
    }
  }
}
