
.newscontiner{
    @apply w-full flex items-center justify-evenly p-5 flex-wrap;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.03974089635854339) 1%, rgba(255,255,255,0.7456232492997199) 11%, rgba(255,255,255,0.7456232492997199) 26%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 77%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 93%);
}

.card{
    @apply mb-5 w-72 h-96 flex flex-col items-center  shadow-4xl  rounded-md relative object-cover;
    @apply hover:w-72;
    &:hover  .card__img{
        @apply rounded-md;
      position: absolute;
      width: 100%;
      height:100%;
      z-index: -2; 
      transition: all 0.5s ease-in-out;
      
    }
    &:hover {
        @apply justify-around;
    }
    &:hover .card__text{
     @apply text-white;
    }
    &:hover .card__title {
        @apply mt-0 text-white
    }
    &:hover{
        @apply mt-0 text-white
    }
    &__bg{
        @apply w-full h-full absolute  rounded-md opacity-0 hover:opacity-100;
        background-color: rgba(0, 0, 0, 0.573);
        z-index: -1;
    }
    &__img{
        @apply w-full h-56 rounded-t-md;
    }
    &__title{
        @apply text-xl my-2 mx-2 text-grenn;
    }
    &__text{
        @apply mx-2 text-grenn;
    }
}


.news{
    @apply bg-white text-center relative;
    width: 350px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    &:hover{
        transition: all 0.5s ease-in-out;
    }
    
    img{
        width: 100%;
        height: 200px;
    }
    &__info{
        height: 200px;
        @apply w-full flex flex-col items-center px-2 ;
    }
}