.Topbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    background-color: white;
    &__logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
           &__img{
           width: 100px;
           height: 100px;
           } 
           &__title{
            margin-left: 10px;
            width: 400px;
            color:#1b6b50;
            font-size: 30px;
            font-weight: 900;
            font-family:'Roboto-Bold',sans-serif;
        }

    }
   &__name{
    color:#1b6b50;
    font-size: 70px;
    font-weight: 900;
    font-family:'Roboto-Bold',sans-serif;
    margin-right: 200px;
    position: relative;
    overflow-y: hidden;
    &::after{
        content: " ";
        position: absolute;
        width: 20px;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        transform: rotate(30deg);
        background-color: rgba(255, 255, 255, 0.325);
        animation: bause 1.5s linear infinite;
        z-index: 999;
      }
      
   }
    &__btngroup{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 5px;
        border-radius: 10px;
        justify-content: space-between;
        width: 100px;
        &__lang{
            display: flex;
            justify-content: space-around;
            align-items:center;
            width: 100%;
            height: 40px;
            border: 2px solid rgb(217, 214, 214);
            border-radius: 20px;
            cursor: pointer;
            position: relative;
            transition: all 0.5s ease-in-out;
            &__round{
                width:30px;
                height: 80%;
                background: rgb(171, 167, 167);
                border-radius: 50%;
                position: absolute;
                right:7px;
                transition: all 0.5s ease-in-out;
            }
            p{
                font-weight: 900;
                color: #1b6b50;
            }
        }

        &__btn{
            display: none;
            margin-top: 5px;
            border: 2px solid rgb(217, 214, 214);
            width: 100%;
            align-items: center;
            justify-content: space-around;
            color: rgb(80, 160, 226);
            background-color: white;
            padding: 4px;
            border-radius: 20px;
            &:hover{
                background-color: #1b6b50;
                color: white;
                transition: all .5s ease-in-out;
            }
        }
    }
    
}


.continer{
    max-width: 1640px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

// screen tablet
@media only  screen and (max-width:1326px)  {
    .Topbar{
        &__logo{
            &__title{
                display: none;
            }
        }
        &__name{
            margin-right:0;
        }
    }
}

// screen mobile
@media only  screen and (max-width:750px)  {
    .Topbar{
        justify-content: space-between;
        &__logo{
            &__img{
                width: 80px;
                height: 80px;
                } 
            &__title{
                display: none;
            }
        }
        &__name{
            display: none;
        }
    }
}

// animation name
@keyframes bause{
    from{
      left: 0%;
    }
    50%{
      left: 50%;
    }
    to{
      left: 90%;
      display: none;
    }
  }
  